@media screen and (max-width: 760px) {
    body {
        padding: 15px;
    }

    header {
        flex-direction: column;
    }

    main {
        flex-direction: column;
    }
    #title {
        align-self: flex-start;
    }

    aside {
        text-align: center;
    }
    
    p {
        display: inline-block;
    }

    h2 {
        font-size: 38px;
    }

    h3 {
        font-size: 28px;
    }

    form {
        margin: 0 auto;
        width: 100%;
    }

    input {
        align-self: center;
        width: 45%;
    }

    img {
        display: none;
    }

    nav, li {
        flex-direction: column;
        align-items: unset;
    }
    
    ul {
        display: grid;
        text-align: center;
        height: 0;
        overflow: hidden;
        transition: 0.5s all;
    }

    #btn-mobile {
        display: flex;
    }
}